{% extends "layout.html" %}
{% extends 'bootstrap/base.html'%}


{% block content %}
    {% for pitch in pitches %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ pitch.author }}</a>
            <small class="text-muted">{{ pitch.category }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ pitch.content }}</a></h2>
          <p class="article-content">{{ pitch.postedAt }}</p>
        </div>
      </article>
    
    {% endfor %}

{% endblock content%}
